<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- wanghuidong modify 2018-12-13 引入公用头文件 -->
    <head th:replace="commons/common_header :: common_header(~{::title},~{::link},~{})">
    <title>文件检索</title>
</head>

<body>
<div th:replace="commons/bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入侧边栏-->
        <div th:replace="commons/bar::#sidebar(activeUri='files')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <div class="row">
                <div id="changeDiv">
                    <!-- wanghuidong modify 2018-12-13 引入操作页面-提交后后台返回 -->
                    <div th:replace="retrieval/files_result :: filesResult"></div>
                </div>
                <!-- wanghuidong modify 2018-12-13 引入右侧树结构文件 -->
                <div th:replace="commons/common_right :: right"></div>
            </div>
        </div>
    </div>
</div>

<form id="deleteEmpForm" method="post">
    <input type="hidden" name="_method" value="delete"/>
</form>
<!-- wanghuidong modify 2018-12-13 引入底部通用html -->
<div th:replace="commons/common_foot :: foot"></div>
<!-- wanghuidong modify 2018-12-13 引入右侧树结构js -->
<script th:src="@{/js/righttree/right_tree.js}"></script>
<!-- wanghuidong modify 2018-12-13 主页面加载引入操作提交等功能的js,子页面同样引入 -->
<script th:src="@{/js/retrieval/files_operate.js}"></script>
</body>
</html>
